<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <var name="DB_DSN" value="mysql:dbname=image-service;host=localhost" />
        <var name="DB_USER" value="abd" />
        <var name="DB_PASSWD" value="pwd" />
        <var name="DB_DBNAME" value="image-service" />
    </php>
</phpunit>